<!DOCTYPE html>
<html>
  <head>
    <title>BookBarber</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# if controller_name != 'registrations' %>
    <%= render 'layouts/navbar' %>
    <%# end %>
    <section class="hero is-fullheight-with-navbar">
      <div class="content">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
